

body{

  background-image: url(./finance-pattern2.jpg);
  min-width: 300px;
  padding: 90px 20px 0;

}

.menu {
  background-color: black;
  height: 75px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          
 
}

.logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
  font-family: 'Mohave', sans-serif;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 50px;
  font-family: 'Mohave', sans-serif;
}

.menu_items li {
  border-radius: 5px;
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: dodgerblue;
}

.menu_items li:hover {
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 558px) {
  .menu {
    height: 65px;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .menu_items li a:hover {
    color: black;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}
ul.show{
  top: 65px;
}
.container-columns {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.containerx3 .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 18%;
  float: right;
  border-color: dodgerblue;
  border-style: double;
}

.containerx3 .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12 16px rgba(0, 0, 0, 0.2);
}
.sitemap{

  background-color: rgb(34, 34, 34);
  text-align: left;
  
 display: inline-block;
 width: 1800px;
 font-size: large;
 border-radius: 20px;
 border-color: #414141;
 border-style: groove;
 color: #fff;
 margin-left: 0px;
 width: 100%;
}
.sitemap h1{

  font-size: medium;
  display: flex;
}
h5 {

  background-color: dodgerblue;
  color: aliceblue;
  font-size: xx-large;
  text-align: center;
  box-shadow: #fff;
  border-color: black;
  border-style: double;
  font-family: 'RocknRoll One', sans-serif;
}
.parrafo  {
  background-color: #414141;
  text-align: center;
  font-size: x-large;
  color: #fff;
  opacity: 90%;
  font-family: 'RocknRoll One', sans-serif;
}
img{
 
  width: 100%;
 height: 800px;
 border: white 2px solid;
 border-radius: 20px;
 box-shadow: black 3px;
 
}
h6{
  background-color: dodgerblue;
  color: #fff;
  font-size: xx-large;
  text-align: center;
 text-transform: uppercase;
 border-radius: 20px;
 border-style: dotted;
 border-color: black;
 font-family: 'RocknRoll One', sans-serif;
box-shadow: black 2px;
}


@media (max-width:768px){
  header label{
    display: block;
  }
  .menu {
  position: absolute;
  background: black;
  width: 70%;
  margin-left: -70%;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid #fff;
  }
  #btn-menu:checked ~ .menu{
    margin: 0;
  }
   

}
*{
  margin: 0;
  box-sizing: border-box;
}
.header{
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;

}
.nav-link{
  color:dodgerblue;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;

}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
  text-decoration: solid;

}
.nav-menu-link{
  padding: 0 5px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
}
.nav-menu-link:hover {
  background-color:floralwhite;
  transition: 1s;
}
.nav-toggle{
  color: dodgerblue;
  background: none;
  border: none;
  font-size: 30px;
  padding:0 20px;
  line-height: 60px;
  display: none;

}
@media (max-width:700px) {
  
.header{
  background-color: black;
  height: 60px;
 
  width: 100%;
  top: 0;
  left: 0;

}
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
  text-decoration: none;

}
.nav-link{
  color:whitesmoke;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 60px;

}
.nav-menu{
  flex-direction: column;
  margin-right: 20px;
  background-image: url(./blackblue.jpg);
  position: fixed;
  left: 0;
  top: 60px;
  width:100%;
  padding:20px  0;
  height: calc(100% - 60px);
  overflow-y: auto;
left:100% ;
transition: left 0.3s;
font-weight: bolder;

}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
  width: max-content;
  
}
.nav-menu-link{
  padding: 0 5px;
  border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active  {
background: none;
   color: #fff;

}
.nav-toggle{
  display: block;
}
.nav-menu_visible {
left: 0;
}
.slider{
  width: 400px;
}
  }
  .slider{
    width: 30%;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
 border-radius: 40px;
 border-color: dodgerblue;
 border-style: solid;
 height: 30%;
  }
  .slider ul{
    padding:0;
    display: flex;
    width: 400%;
    animation: cambio  20s infinite;
    animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86) ;
    animation-direction:alternate;
  }
  .slider li{
    list-style: none;
    width: 100%;

  }
  .slider img{
    width: 100%;
  }
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

 50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
  

}
.header h3{
background-image: url(./blackblue.jpg);
  color: #fff;
  text-transform: uppercase;
 text-align: center;
 height: 100px;
 margin-top: 0;
 padding-top: 20px;
 border-radius: 40px;
 border: white 2px solid;
}