body {



   background-image: url(./finance-pattern2.jpg);
  



}

     

    

.navbar-brand{
    
    font-size: xx-large;
}

.menu{
    background-color: black;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 5px 0 10px rgba(0,0,0, .6);
}
.logo{

    color: white;
    font-size:35px;
    padding:0 80px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
  
.menu_items {

    display: flex;
    list-style: none;
    margin-right: 50px;
}
  .menu_items li{

    border-radius: 5px;
    margin: 0 5px;
  }
 
 .menu_items li a{


    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: dodgerblue;

 }
 .menu_items li:hover {


    background-color: white;
    transition: .4s;
 }
 ul.show{
     top:65px;
 }

@media screen and (max-width:952px)  {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {

        font-size: 16px;
    }
}
@media screen and (max-width:558px) {
    .menu{
        height: 65px;
    }
    .menu_items{

        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
       
        top: -100vh ;
        text-align: center;
        transition: all .4s;
        flex-direction: column;

    }
    .menu_items li{
        margin:30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{

        background: none;
    }
    .menu_items li a{

        font-size: 20px;
        color:white;
        font-weight: bold;
    }

    .menu_items li a:hover {

        color:black
    }
    .logo{

        font-size: 25px;
        padding-left:35px ;

    }
    .btn_menu{

      display: inline-flex;
    }
 
    
 

 }

@media screen  and (max-width:858px) and(orientation:landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }

    
}
 .btn_menu{

    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    
    

 }
 
 
.sitemap{

    background-color: rgb(34, 34, 34);
    text-align: left;
    
   display: inline-block;
   width: 1800px;
   font-size: large;
   border-radius: 20px;
   border-color: #414141;
   border-style: groove;
   color: #fff;
   margin-left: 0px;
  }
  .sitemap h1{
  
    font-size: medium;
    display: flex; 
    color: black;  
       }  
       *{
        margin: 0;
        box-sizing: border-box;
      }
      .header1 {
        background-color:black;
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
      
      }
      .nav{
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        background-color: #000000;
      
      }
      .nav-link{
        color:dodgerblue;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #000000;
      }
      .logo{
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 80px;
        background-color: #000000;
      
      }
      .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
      }
      .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
        text-decoration: solid;
      
      }
      .nav-menu-link{
        padding: 0 5px;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bolder;
      }
      .nav-menu-link:hover {
        background-color:floralwhite;
        transition: 1s;
      }
      .nav-toggle{
        color: dodgerblue;
        background: none;
        border: none;
        font-size: 30px;
        padding:0 20px;
        line-height: 60px;
        display: none;
      
      }
      @media (max-width:700px) {
        
      .header1{
        background-color: black;
        height: 60px;
       
        width: 100%;
        top: 0;
        left: 0;
      
      }
      .nav{
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        text-decoration: none;
      
      }
      .nav-link{
        color:whitesmoke;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .logo{
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
      
      }
      .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        background-image: url(./blackblue.jpg);
        position: fixed;
        left: 0;
        top: 60px;
        width:100%;
        padding:20px  0;
        height: calc(100% - 60px);
        overflow-y: auto;
      left:100% ;
      transition: left 0.3s;
      font-weight: bolder;
      
      }
      .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 70px;
        text-transform: uppercase;
        width: max-content;
      
      }
      .nav-menu-link{
        padding: 0 5px;
        border-radius: 3px;
      }
      .nav-menu-link:hover,
      .nav-menu-link_active  {
      background: none;
         color: #fff;
      
      }
      .nav-toggle{
        display: block;
      }
      .nav-menu_visible {
      left: 0;
      }
      
        }
 .title h1{
   padding: 20px 0;
   text-align: center;
   font-size: 2.9em;
   text-transform: uppercase;
   background-color:dodgerblue;
   border-radius: 30px;
   width: auto;
   border: 4px solid black;

 font-family: 'Exo', sans-serif;
   
 }
 .container{
   background-image: url(./business-pattern.gif);
   width: 90%;
   max-width: 1000px;
   margin: 1.6em auto;
   display: grid;
   gap: 1.6em;
   grid-template-columns: repeat(5, 1fr);
   border-radius: 20px;
 }
 .content > .article {
   background: black;
   padding: 20px;
   margin-top: 5px;
   color: #fff;
   font-family: 'Exo', sans-serif;
 }
 .article h1:hover{
   color: dodgerblue;
 transform: translateX(15px);
 transition: 2s;
 }
 .content .article h1,
 .content .article p{
   padding: 10px;
 }
 .container > .header,
 .container > .content,
 .container > .sidebar,
 .container > .footer,
 .container > div {
   background: #fff;
   padding: 20px;
   border: 5px solid black;
 }
 .container > .header,
 .container > .footer {
   grid-column: 1/6;
   background: black;
   color: #fff;
   opacity: 85%;
   text-align: center;

 }
 .container > .content {
   grid-column: span 3;
 }
 .container > .sidebar{
   grid-column: span 2 ;
 }
 .sidebar img{
   width: 300px;
   height: 300px;
 }
 @media screen and (max-width:600px){
   .header{
     text-align: center;
   }
   .container .content{
     grid-column: 1/-1;
   }
   .container .sidebar{
     grid-column: 1/6;
   }
   .container .related-post{
     grid-column: 1/-1;
   }
 }
.slider img{
  width: 100%;
}
.slider{
  width: 30%;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
border-radius: 40px;
border-color: dodgerblue;
border-style: solid;
height: 30%;

}
.slider ul{
  padding:0;
  display: flex;
  width: 400%;
  animation: cambio  10s infinite;
  animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86) ;
  animation-direction:alternate;
}
.slider li{
  list-style: none;
  width: 100%;

}

  

.related-post{
  background-color: dodgerblue;
}


@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

 50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
   }